body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Georgia, serif;
}

h2 {
    font-family: Verdana, sans-serif;
}

p {
    font-family: Arial, sans-serif;
}

blockquote {
    font-family: "Times New Roman", serif;
}